{% extends 'viewstudent.html' %}
{% block 'body' %}
<h3 align="center"><u>View All Faculties</u></h3>
<input class="textbox" id="myInput" type="text" placeholder="Search"/><br>
<table align="center" border=2 width="90%" height="25%" class="table1">
    <thead>
    <tr bgcolor="lightgray">
        <td>ID</td>
        <td>Faculty ID</td>
        <td>Fullname</td>
        <td>Gender</td>
        <td>Desgination</td>
        <td>Department</td>
        <td>Qualification</td>
        <td>Email</td>
        <td>Password</td>
        <td>Contact</td>
        <td>Action</td>
    </tr>
    </thead>
    {% for faculty in facultydata%}
    <tbody id="myTable">
    <tr bgcolor="lavender">
        <td>{{faculty.id}}</td>
        <td>{{faculty.facultyid}}</td>
        <td>{{faculty.fullname}}</td>
        <td>{{faculty.gender}}</td>
        <td>{{faculty.designation}}</td>
        <td>{{faculty.department}}</td>
        <td>{{faculty.qualification}}</td>
        <td>{{faculty.email}}</td>
        <td>{{faculty.password}}</td>
        <td>{{faculty.contact}}</td>
        <td>
          <a href="/facultydeletion/{{faculty.id}}">Delete</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>

</table>
<div style="position: absolute; top: 20px; left: 20px;">
    <a href="{% url 'adminfaculty' %}">
        <button class="button-17" style="padding: 5px; border: none; background-color: white;">
            &#8592; <!-- Unicode character for a left arrow -->
        </button>
    </a>
</div>
<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
{% endblock %}