{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SMS PROJECT</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
</head>
<body>
   <nav class="navbar">
        <div class="logo">SMS</div>
        <ul class="menu">
            <li><a href="{% url 'SMS' %}" style="color:#CCCCCC">Home</a></li>
            <li><a href="{% url 'about' %}" style="color:#CCCCCC">About Project</a></li>
            <li class="services">
                <a href="{% url 'login' %}" style="color:#CCCCCC">Login</a>
                <ul class="dropdown">
                    <li><a href="{% url 'studentlogin' %}">Student</a></li>
                    <li><a href="{% url 'facultylogin' %}">Faculty</a></li>
                    <li><a href="{% url 'login' %}">Admin</a></li>
                </ul>
            </li>


            <li><a href="{% url 'contact' %}" style="color:#CCCCCC">Contact Us</a></li>
        </ul>
    </nav>


    <div class="content">
        {% block 'body' %}
        <p style="color:aqua;">Welcome to the Home Page!</p>
        {% endblock %}
    </div>
</body>
</html>
